/* FARVER
#FFFFFF - hvid (baggrund og tekst)
#38201E - brun (tekst og ikoner)
#F2E9E0 - baige (baggrund)
#A2BDBD - blå
#D9E1E2 - lys blå
#CB9BCB - lilla
#E6D6E2 - lys lilla
#E8BBBA - lyserød
#ECD2CC - lys lyserød
*/

body {
    background-color: #F2E9E0;
    margin: 30px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    font-family: Arquitecta;
    color: #38201E;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: Arquitecta;
    color: #38201E;
}

h3 {
    font-size: 15px;
    font-weight: normal;
    font-family: Arquitecta;
    color: #38201E;
}

p {
    font-size: 12px;
    font-weight: normal;
    font-family: Arquitecta;
    color: #38201E;
}

button {
    width: 224px;
    height: 62px;
    border-radius: 8px;
    border-style: none;
    background-color: #A2BDBD;
    text-transform: uppercase;
}

input {
    width: 250px;
    max-height: 62px;
    border-radius: 8px;
    border-style: none;
    background-color: #FFFFFF;
    padding: 20px 15px;
}

.white {
    color: #FFFFFF;
}

.ikon {
    color: #38201E;
}

/*Navigation start*/
nav {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-left: -30px;
    margin-right: -30px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    }

.navigation-tekst {
    display: flex;
    justify-content: space-around;
    }

    .storrelse {
        width: 50px;
        text-align: center;
    }

    .space {
        height: 40px;
    }
/*Navigation slut*/

/*Header*/
    .hvilkenside {
        height: 70px;
        background-color: #FFFFFF;
        width: 100%;
        position: fixed;
        top: 0;
        margin-left: -30px;
        margin-right: -30px;
        display: flex;
        justify-content: space-between;   
        align-items: center; 
        padding-left: 30px;
    }

    .break {
        width: 50px;
        margin-right: 30px;
    }
/*Header*/

/*Home start*/
    /*Godmorgen start*/

    /*Godmorgen JS start*/

    /*Point start*/
    
    /*Point slut*/

    /*scroll start*/
    .scroll-menu {
        display: flex;
        overflow:auto;
        white-space: nowrap;  
        margin-left: -30px;   
        margin-right: -30px;  
    }

    .billeder {
        margin-left: 30px;
        border-radius: 8px;
    }
    /*scroll slut*/

    /*Anbefalet start*/
        .anbefaletscroll {
            display: flex;
            overflow:auto;
            white-space: nowrap;  
            margin-left: -30px;   
            margin-right: -30px;  
        }

        .anbefaletbilleder {
            height: 102px;
            width: 95px; 
            margin-left: 10px;
            border-radius: 8px;
        }
    /*Anbefalet slut*/
/*Home slut*/


/*Blivmedlem start*/
.foeds{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.dag {
    width: 30px;
}

.maaned{
    width: 85px;
}

.aar {
    width: 70px;
}

/*Blivmedlem slut*/

/*Profil start*/
    /*Billede start*/
    .billedeiprofil {
        margin-left: -30px;
    }
    /*Billede slut*/

    /*Knapper start*/
    .profilknap {
        height: 57px;
        width: auto;
        border-top: solid #FFFFFF 1px;
        border-bottom: solid #FFFFFF 1px;
        margin-left: -30px;
        margin-right: -30px;
        text-transform: uppercase;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /*Knapper slut*/
/*Profil slut*/

/*Mine point start*/
    /*Fordele*/
        .nestefordele {
            display: flex;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 10px;
            justify-content: center;
        }

        .op {
            padding-top: 30px;
        }

        .fordele {
            height: 110px;
            width: 140px;
            border-radius: 8px;
            box-shadow: 0px 1px 6px rgba(0,0,0,0.16);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }

        #fordel1 {
            background-color: #A2BDBD;
        }

        #fordel2 {
            background-color: #E8BBBA;
        }

        #fordel3 {
            background-color: #ECD2CC;
        }

        #fordel4 {
            background-color: #DBE1E2;
        }

        #fordel5 {
            background-color: #CB9BCB;
        }

        #fordel6 {
            background-color: #E6D6E2;
        }

    /*Fordele*/
/*Mine point slut*/

/*Mine køb start*/
    /*Måned start*/
        .maned {
            margin-top: 30px;
            width: 310px;
            height: 40px;
            background-color: #D9E1E2;
            border-radius: 8px;
            box-shadow: 0px 1px 6px rgba(0,0,0,0.16);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    /*Måned slut*/

    /*Kvitteringer start*/
        .kvittering {
            width: 310px;
            height: 60px;
            background-color: #FFFFFF;
            border-radius: 8px;
            box-shadow: 0px 1px 6px rgba(0,0,0,0.16);
        }
    /*Kvitteringer slut*/
/*Mine køb slut*/

/*Mine favoritter start*/
    /*Produkter start*/
        .alleprodukter {
            width: 310px;
            padding-top: 30px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            column-gap: 20px;
            justify-content: flex-start;
        }

        .produkter {
            height: 175px;
            width: 145px;
        }

        .produktbillede {
            min-height: 135px;
            min-width: 145px;
            border-radius: 8px;
            box-shadow: 0px 1px 6px rgba(0,0,0,0.16);
            background-color: #FFFFFF;
        }
    /*Produkter slut*/

    /*Hjerte start*/
        .hjerte {
            height: 20px;
            width: 20px;
            padding: 5px;
        }

        .hjertepaaplads {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: flex-start;
            flex-direction: column;
        }
    /*Hjerte slut*/

    /*Tekst start*/
    .texttiltop {
        margin-top: 1px;
    }
    /*Tekst slut*/
/*Mine favoritter slut*/

/*Kundeservice start*/
    /*Knapper start*/
        .kundeservicesknapper {
            height: 57px;
            width: auto;
            border-top: solid #FFFFFF 1px;
            margin-left: -30px;
            margin-right: -30px;
            text-transform: uppercase;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .bund {
            border-bottom: solid #FFFFFF 1px;
        }
    /*Knapper slut*/

    /*Folder start*/
        .openfolder {
            display: none;
            height: auto;
            width: auto;
            border-bottom: solid #FFFFFF 1px;
            margin-left: -30px;
            margin-right: -30px;
            padding-left: 30px;
            padding-right: 30px;
        }

        .pil {
            max-height: 20px;
        }
    /*Folder slut*/
/*Kundeservice slut*/

/*Produktbilleder start*/
#billede1 {
    background-image: url("image/produkter/aura699kr.jpg");
    background-repeat: no-repeat;
}

#billede2 {
    background-image: url("image/produkter/aura1599kr.jpg");
    background-repeat: no-repeat;
}

#billede3 {
    background-image: url("image/produkter/beckmann599kr.jpg");
    background-repeat: no-repeat;
}

#billede4 {
    background-image: url("image/produkter/belsac899kr.jpg");
    background-repeat: no-repeat;
}

#billede5 {
    background-image: url("image/produkter/dayet499kr.jpg");
    background-repeat: no-repeat;
}

#billede6 {
    background-image: url("image/produkter/dayet549kr.jpg");
    background-repeat: no-repeat;
}

#billede7 {
    background-image: url("image/produkter/delsey1799kr1.jpg");
    background-repeat: no-repeat;
}

#billede8 {
    background-image: url("image/produkter/delsey1799kr2.jpg");
    background-repeat: no-repeat;
}

#billede9 {
    background-image: url("image/produkter/fjallraven849kr.jpg");
    background-repeat: no-repeat;
}

#billede10 {
    background-image: url("image/produkter/haglofs800kr.jpg");
    background-repeat: no-repeat;
}

#billede11 {
    background-image: url("image/produkter/hera1299kr.jpg");
    background-repeat: no-repeat;
}

#billede12 {
    background-image: url("image/produkter/hera1399kr.jpg");
    background-repeat: no-repeat;
}

#billede13 {
    background-image: url("image/produkter/markberg499kr.jpg");
    background-repeat: no-repeat;
}

#billede14 {
    background-image: url("image/produkter/markberg1499kr.jpg");
    background-repeat: no-repeat;
}

#billede15 {
    background-image: url("image/produkter/rains499kr.jpg");
    background-repeat: no-repeat;
}

#billede16 {
    background-image: url("image/produkter/saddler2199kr.jpg");
    background-repeat: no-repeat;
}

#billede17 {
    background-image: url("image/produkter/thenorthface899kr.jpg");
    background-repeat: no-repeat;
}

#billede18 {
    background-image: url("image/produkter/tyler&co1399kr.jpg");
    background-repeat: no-repeat;
}

#billede19 {
    background-image: url("image/produkter/valentino1199kr.jpg");
    background-repeat: no-repeat;
}
/*Produktbilleder slut*/

/*Produktside start*/

/*Produktside slut*/

/*Vælg kategori start*/

.kategoriside {
    height: 70px;
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    top: 0;
    margin-left: -30px;
    margin-right: -30px;
    display: flex;
    justify-content: space-between;   
    align-items: center; 
    padding-left: 30px;

}
/*Vælg kategori slut*/

















/*Her går det galt fra*/

.center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.right {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.textbredde {
    width: 224px;
    text-align: center;
}

#linje {
    text-decoration: underline;
    color: #38201E;
}

.logo {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


a {
    color: #38201E;
    text-decoration: none;
}



/*Medlemskortet*/
#kort {
    width: 290px;
    height: 310px;
    background-color: #DBE1E2;
    border-radius: 8px;
    filter: drop-shadow(0px 3px 6px); 
    padding: 20px; 
}

.medlemskortlogo {
    height: 150px;
    width: 100%;
    margin-top: -50px;
    margin-bottom: -70px;
}

#korttekst {
    padding-left: 20px;
}

.stregkode {
    font-family: 'Libre Barcode 128', cursive;
    font-size: 54px;
    background-color: #FFFFFF;
    width: 250px;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.op {
    margin-top: -50px;
}







/*Slettes senere (placeholder)*/
.tom {
 width: 300px;
 height: 50px;
 background-color: yellow;
}